/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.success-snackbar {
  background-color: #4caf50 !important; /* Vert succès */
  color: white !important;
  font-weight: bold;
}

.error-snackbar {
  background-color: #f44336 !important; /* Rouge erreur */
  color: white !important;
  font-weight: bold;
}

.info-snackbar {
  background-color: #2196f3 !important; /* Bleu info */
  color: white !important;
  font-weight: bold;
}
